.Nav {
    font-size: 1.4rem;
    font-family: "Gill Sans", sans-serif;
    background-color: rgba(82, 81, 81, 0.514);
    position: fixed;
    width: 100%;
  }
  
  .Nav ul {
    list-style: none;
    text-transform: uppercase;
    height: 100%;
  }
  .Nav ul li {
    padding-top: 2.5rem;
  }
  .Nav ul li:hover {
    border-top: 0.2rem solid #4bcaff;
  }
  .Nav ul li a {
    padding: 0rem 2rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  .Nav ul li a:hover {
    color: #4bcaff;
  }
  .Nav ul li.active {
    border-top: 0.2rem solid #4bcaff;
  }
  .Logo {
    margin: 10px;
    padding-left: 25%;
  }
  
  .Header {
    height: 80.2rem;
    background-image: url("/Assests/Images/header.png");
    background-repeat: no-repeat;
    color: white;
  }
  .title {
    direction: rtl;
    text-align: left;
    padding: 15%;
    font-size: 2rem;
  }
  